
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
 body{
    background: linear-gradient(to right, #006551, #014336, #00372c);


 }

.blueBox {
    max-width: 800px;
    height: 600px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 15px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;

}

h1 {
    margin: 45px 0;
}

.foodOptions {
    display: flex;
    justify-content: space-evenly;
    margin: 35px 0;

}

.foodOption {
    display: flex;
    max-width: 200px;
    flex-direction: column;
    justify-content: space-between;

}

.foodOption img {

    width: 135px;
    margin-top: 7px;
    margin: 0 auto;

}

.buttonContainer {
    display: flex;

}

.foodOption h3 {
    word-wrap: break-word;
}

.buttonContainer {

    margin: 50px auto;

}


.btn {
    cursor: pointer;
    border: solid rgb(44, 204, 0);
    font-family: "Roboto Condensed";
    font-size: 14px;
    color: rgb(255, 255, 255);
    padding: 10px 30px;
    transition: 987ms;
    width: 306px;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 25px;
    background: linear-gradient(90deg, rgb(204, 170, 0) 0%, rgb(0, 204, 3) 100%);
    --hover-bgc: #cc5200;
    --hover-color: #88cc00;
    --hover-width: 400px;
}


.btn:hover {

    color: rgb(136, 204, 0);
    width: 400px;
    background: rgb(204, 82, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border-color: rgb(204, 0, 105);
    border-width: 2px;
    border-style: solid;
}





@media(max-width : 700px) {
    div {
        max-width: 500px;
    }
}